.grid{
    display: grid;
    grid-template-columns: min-content min-content min-content min-content;
    justify-content: space-between;
    grid-gap:1%;
    img, svg{
        width:100%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .grid.g-4{
        grid-template-columns: 100% !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .grid.g-4{
        grid-template-columns: 50% 50% !important;
    }
}
 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .grid.g-4{
        grid-template-columns: 50% 50% !important;
    }
}
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .grid.g-4{
        grid-template-columns: 33.3% 33.3% 33.3% !important;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .grid.g-4{
        grid-template-columns: 24% 24% 24% 24% !important;
    }
} 
